<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Iniziale</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/output.css') }}">
</head>
<body class="bg-gray-300 h-[1000px]">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <div class="flex justify-center pt-10">

      <h1 class="text-[70px] text-black">Javascript vs Python</h1>
    </div>
    <div class="flex justify-center">
        <div class="w-[75%] bg-gray-400 rounded-3xl mt-10">
          <div class="ml-[200px] mr-[200px] flex justify-between my-10">
            <a href="{{ url_for('second_page_1000') }}" class="btn btn-info text-slate-800">1000</a>
            <a href="{{ url_for('second_page_100000') }}" class="btn btn-info text-slate-800">100.000</a>
            <a href="{{ url_for('second_page_mil') }}" class="btn btn-info text-slate-800">1.000.000</a>
            
          </div>
        </div>
    </div>
    <div class="w-[50%] flex flex-col items-center mx-auto mt-10">
        {%if flag%}
            {% if flag == 1000 %}
                <div id="chart1"></div>
            {% endif %}
            {% if flag == 100000 %}
                <div id="chart2"></div>
            {% endif %}
            {% if flag == 1000000 %}
                <div id="chart3"></div>
            {% endif %}
        {% else %}
          <h1 class="text-4xl text-center text-black">Clicca su un numero per vedere le tempistiche di generazione e inserimento dentro ad un array o lista</h1>
        {% endif %}
        

    </div>
    <script src="{{ url_for('static', filename='script/javascript.js') }}"></script>
    <!-- fino a 1000 -->
    <script>
        var tempo_python = parseFloat("{{tempo_totale}}").toFixed(4);
        var options = {
          series: [{
          name: 'Time',
          data: [tempo_1000, tempo_python]
        }],
          chart: {
          height: 350,
          type: 'bar',
        },
        plotOptions: {
          bar: {
            borderRadius: 10,
            dataLabels: {
              position: 'top', // top, center, bottom
            },
          }
        },
        dataLabels: {
          enabled: true,
          formatter: function (val) {
            return val;
          },
          offsetY: -20,
          style: {
            fontSize: '12px',
            colors: ["#304758"]
          }
        },
        
        xaxis: {
          categories: ["Javascript", "Python"],
          position: 'top',
          axisBorder: {
            show: false
          },
          axisTicks: {
            show: false
          },
          crosshairs: {
            fill: {
              type: 'gradient',
              gradient: {
                colorFrom: '#D8E3F0',
                colorTo: '#BED1E6',
                stops: [0, 100],
                opacityFrom: 0.4,
                opacityTo: 0.5,
              }
            }
          },
          tooltip: {
            enabled: true,
          }
        },
        yaxis: {
          axisBorder: {
            show: false
          },
          axisTicks: {
            show: false,
          },
          labels: {
            show: false,
            formatter: function (val) {
              return val;
            }
          }
        
        },
        title: {
          text: 'Generazione numeri fino a 1000',
          floating: true,
          offsetY: 330,
          align: 'center',
          style: {
            color: '#444'
          }
        }
        };

        var chart = new ApexCharts(document.querySelector("#chart1"), options);
        chart.render();
    
    </script>
    <!-- fino a 100.000 -->
    <script>
        var tempo_python = parseFloat("{{tempo_totale}}").toFixed(3);
        var options = {
          series: [{
          name: 'Time',
          data: [tempo_100000, tempo_python]
        }],
          chart: {
          height: 350,
          type: 'bar',
        },
        plotOptions: {
          bar: {
            borderRadius: 10,
            dataLabels: {
              position: 'top', // top, center, bottom
            },
          }
        },
        dataLabels: {
          enabled: true,
          formatter: function (val) {
            return val;
          },
          offsetY: -20,
          style: {
            fontSize: '12px',
            colors: ["#304758"]
          }
        },
        
        xaxis: {
          categories: ["Javascript", "Python"],
          position: 'top',
          axisBorder: {
            show: false
          },
          axisTicks: {
            show: false
          },
          crosshairs: {
            fill: {
              type: 'gradient',
              gradient: {
                colorFrom: '#D8E3F0',
                colorTo: '#BED1E6',
                stops: [0, 100],
                opacityFrom: 0.4,
                opacityTo: 0.5,
              }
            }
          },
          tooltip: {
            enabled: true,
          }
        },
        yaxis: {
          axisBorder: {
            show: false
          },
          axisTicks: {
            show: false,
          },
          labels: {
            show: false,
            formatter: function (val) {
              return val;
            }
          }
        
        },
        title: {
          text: 'Generazione numeri fino a 100.000',
          floating: true,
          offsetY: 330,
          align: 'center',
          style: {
            color: '#444'
          }
        }
        };

        var chart = new ApexCharts(document.querySelector("#chart2"), options);
        chart.render();
    
    </script>
    <!-- fino a 1.000.000 -->
    <script>
        var tempo_python = parseFloat("{{tempo_totale}}").toFixed(3);
        var options = {
          series: [{
          name: 'Time',
          data: [tempo_milione, tempo_python]
        }],
          chart: {
          height: 350,
          type: 'bar',
        },
        plotOptions: {
          bar: {
            borderRadius: 10,
            dataLabels: {
              position: 'top', // top, center, bottom
            },
          }
        },
        dataLabels: {
          enabled: true,
          formatter: function (val) {
            return val;
          },
          offsetY: -20,
          style: {
            fontSize: '12px',
            colors: ["#304758"]
          }
        },
        
        xaxis: {
          categories: ["Javascript", "Python"],
          position: 'top',
          axisBorder: {
            show: false
          },
          axisTicks: {
            show: false
          },
          crosshairs: {
            fill: {
              type: 'gradient',
              gradient: {
                colorFrom: '#D8E3F0',
                colorTo: '#BED1E6',
                stops: [0, 100],
                opacityFrom: 0.4,
                opacityTo: 0.5,
              }
            }
          },
          tooltip: {
            enabled: true,
          }
        },
        yaxis: {
          axisBorder: {
            show: false
          },
          axisTicks: {
            show: false,
          },
          labels: {
            show: false,
            formatter: function (val) {
              return val;
            }
          }
        
        },
        title: {
          text: 'Generazione numeri fino a 1.000.000',
          floating: true,
          offsetY: 330,
          align: 'center',
          style: {
            color: '#444'
          }
        }
        };

        var chart = new ApexCharts(document.querySelector("#chart3"), options);
        chart.render();
    
    </script>
    
</body>
</html>